/* Navbar Start */
body{
  width: 100%;
  margin: 0;
  padding: 0;
}
.navbar-brand{
  font-weight: 400 !important;
  letter-spacing: 2px !important;
  text-transform: uppercase !important;
}
nav.navbar.navbar-expand-lg.bg-body-tertiary {
  padding: 0px;
}
.navbar-brand {
  font-size: 32px !important;

}
.nav-link{
  /* margin-right: 20px; */
  font-size: 18px !important;
  cursor: pointer;
}
a {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.15em;
  display: inline-block;
  padding: 15px 20px;
  position: relative;
}
a:after {    
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #fff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
a:hover:after { 
  width: 100%; 
  left: 0; 
}
@media screen and (max-height: 300px) {
    ul {
        margin-top: 40px;

} 
}
/* Navbar Section End */
/* Img Section */
.self-padding{
  padding: 60px 0;
}
.hero-section{width: 100%;height: 400px;display: flex;justify-content: center;align-items: center;padding-top: 50px;background-color: #999d86;}

.hero-section > div img {
    padding-bottom: 50px;
}
.year{
  letter-spacing: 5px !important;
  text-transform: uppercase;
}
.year_1{
  width: 10%;
  margin: 0 auto;
}
.name{
  margin-top: 10px;
  font-size: 20px !important;
}
/* Img Section End */
