.navbar-brand{
    font-weight: 400 !important;
    letter-spacing: 2px !important;
    text-transform: uppercase !important;
}
.background-img{
    background-color: #999d86;
}
.ship{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.year{
    letter-spacing: 5px !important;
    text-transform: uppercase;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.year_1{
  width: 10% !important;
  margin-left: 150px !important;
    box-shadow: 200px 200px 5px  black;
}
.self-padding{
    padding: 80px 0;    
}
.card-text{
    letter-spacing: 2px;
}
.fade-in {
    animation: fadeIn ease 5s;
    -webkit-animation: fadeIn ease 5s;
    -moz-animation: fadeIn ease 5s;
    -o-animation: fadeIn ease 5s;
    -ms-animation: fadeIn ease 5s;
  }
  
  
  @keyframes fadeIn{
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-moz-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-webkit-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-o-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-ms-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  a {
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.15em;
    
    display: inline-block;
    padding: 15px 20px;
    position: relative;
  }
  a:after {    
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #fff;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  }
  a:hover:after { 
    width: 100%; 
    left: 0; 
  }
  @media screen and (max-height: 300px) {
    ul {
      margin-top: 40px;
    }
  }
  