/* Animation start */
* {
  margin: 0;
  padding: 0;
   -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;;
}


.res-container {
    width: 100%;
  position: absoulte;
  margin-bottom: 0;
}

.res-row {
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19 */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  display: flex;
  /* NEW - Opera 12.1, Firefox 20+ */
}
#box {
  -webkit-box-flex: 1;
  /* OLD - iOS 6-, Safari 3.1-6 */
  -moz-box-flex: 1;
  /* OLD - Firefox 19- */
  -webkit-flex: 1;
  /* Chrome */
  -ms-flex: 1;
  /* IE 10 */
  flex: 1;
  width: 100%;
  /* Old syntax, otherwise collapses. */
  
}
/*...................*/
#block-1 {
  animation-duration: 1s;	
    -webkit-animation-duration: 1s;
animation-iteration-count: 1;
    animation-timing-function: ease;	
    -webkit-animation-timing-function: ease;	
}

.b3 {
  position: fixed; 
}

/*****************/
#loader-wrap {
    display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
#loading {
background-color: #999d86;
height: 100%;
width: 100%;
position: fixed;
z-index: 2;
margin-top: 0px;
top: 0px;
}

/***************/
#loading-center{
    width: 100%;
    height: 100%;
    position: relative;
}
#loading-center-absolute {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 200px;
    width: 200px;
    margin-top: -100px;
    margin-left: -100px;
}
#object{
    width: 200px;
    height: 200px;
  Background-image: url(https://reech.ca/wp-content/uploads/2017/09/reech-logo-no-text.svg);
  background-repeat: no-repeat;
  margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
}

/***************************/

#object {
  animation: object .8s linear;
  transform-origin: center center;
}
@keyframes object {
  0%{transform: scale(0); opacity: 0}
  50%{transform: scale(1.5); opacity: 1}
  100% {transform: scale(1); opacity:1}
}

/*********loader line******************/
#loader {
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -50px;
  width: 100px;
  height: 3px;
  overflow: hidden;
}
#loader:before, #loader:after {
  content: '';
  position: absolute;
  top: 0;
  width: 100%;
  height: 3px;
  transform: translate(-100%, 0);
}
#loader:before {
  background-color: #999d86;
  animation: loading 3400ms cubic-bezier(0.23, 1, 0.32, 1);
}
#loader:after {
  background-color: #fff;
  animation: loading 2500ms 500ms cubic-bezier(0.23, 1, 0.32, 1);
}

@keyframes loading {
  75% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(100%, 0);
  }
}


/***********************/

/*************************/
#hero-box {
  position: relative;
  height: 100%;
  width: 80%;
}

.bg {
  position: absolute;
    background-image: url(https://www.jeans.ch/out/pictures/generated/product/1/310_412_75/sol_fred-perry-white-men-shirt-m8272-200_f_1.png) !important;
    background-size: cover !important;
    background-position: center;
    z-index: 1 !important;
    width: 30vw;
    height: 100vh;
    left: 12%;
}
.overlay {
   position: absolute;
    background-image: url(https://reech.ca/wp-content/uploads/2017/10/xnado-pattern-white.svg) !important;
    background-repeat: repeat;
    background-size: contain !important;
    height: 50vh;
    width: 38vw;
    margin-left: 12%;
    top: 30%;
  
}


/*.......................*/
#header-wrap {
      position: absolute;
      width: 80px;
    height: 3px;
    top: 45%;
    left: 49.5%;
}
#header {
      position: relative;
    font-family: 'Roboto', sans-serif;
    color: #1c1c1c;
    line-height: 100%;
    overflow: hidden;
  text-transform: uppercase;
  font-size: 1.4rem;
      font-weight: 700;
}
#header-o {
      position: relative;
    font-family: 'Roboto', sans-serif;
    color: #1c1c1c;
    line-height: 100%;
    overflow: hidden;
  text-transform: uppercase;
  margin-left: -5%;
     font-weight: 700;
  font-size: 1rem;
      top: -4px;
}
#header-o:after {
    content: "";
    position: absolute;
    left: 1px;
    right: 1px;
    background: #1c1c1c;
    height: 2.5px;
    bottom: -1px;
  
}
#header-0 {
      position: relative;
    font-family: 'Roboto', sans-serif;
    color: #1c1c1c;
    line-height: 100%;
    overflow: hidden;
  text-transform: uppercase;
  font-size: 1.4rem;
  margin-left: -4%;
      font-weight: 700;
}
#header-1 {
      position: relative;
    font-family: 'Roboto', sans-serif;
    color: #1c1c1c;
    line-height: 100%;
    overflow: hidden;
  text-transform: uppercase;
  font-size: 1.4rem;
  margin-left: -7%;
      font-weight: 700;
}

#left-line {
   width: 60px;
  height: 2px;
  display: block;
  background-color: #1c1c1c;
  position: absolute;
  margin-top: -16%;
  left: -90%;
}

/**************************/

#hero-text {
    position: absolute;
    top: 56%;
    left: 44%;
    font-size: 5rem;
    color: #1c1c1c;
    font-weight: 700;
    letter-spacing: 1px;
    line-height: 1px;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
  z-index: 1 !important;
  opacity: 1;
  
}
#s-txt {
        position: absolute;
    bottom: 12%;
   right: -1%;
    font-size: 0.6rem;
    color: #1c1c1c;
    font-weight: 300;
    letter-spacing: 0.4em;
    line-height: 1em;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    z-index: 1 !important;
    opacity: 1;
}
#lg-ltrs {
     position: absolute;
    left: 0%;
    bottom: -16%;
    margin-left: -3%;
    font-size: 10rem;
    color: #fc5252;
    font-weight: 900;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    z-index: 1 !important;
    opacity: 1;
    


}

/***********SLIDE DOWN***************/

.slideDown {
    bottom: 0 !important;
   animation-direction: normal;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}

.slideDown {
    animation-name: slideDown;
    -webkit-animation-name: slideDown;	

    animation-duration: 1s;	
    -webkit-animation-duration: 1s;
animation-iteration-count: 1;
    animation-timing-function: ease;	
    -webkit-animation-timing-function: ease;	
    visibility: visible !important;						
}

@keyframes slideDown {
  from {
    transform: translateY(0%);
  }
  to {
    transform: translateY(100%);
  }
}

@-webkit-keyframes slideDown {
      from {
    transform: translateY(0%);
  }
  to {
    transform: translateY(100%);
  }
}

/*********************/

.slideInUp {
    animation-name: slideInUp;
    -webkit-animation-name: slideInUp;	

    animation-duration: 1s;	
    -webkit-animation-duration: 1s;
animation-iteration-count: 1;
    animation-timing-function: ease-in;	
    -webkit-animation-timing-function: ease-in;	
    visibility: visible !important;						
}

@keyframes slideInUp {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0%);
  }
}
@-webkit-keyframes slideInUp {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0%);
  }
}

@keyframes zoomOut {
  from {
    opacity: 1;
  }

  50% {
    opacity: 0;
    transform: scale3d(.3, .3, .3);
  }

  to {
    opacity: 0;
  }
}

.zoomOut {
  animation-name: zoomOut;
  
   animation-name: zoomOut;
    -webkit-animation-name: zoomOut;	

    animation-duration: 2s;	
    -webkit-animation-duration: 2s;
animation-iteration-count: 2;
    animation-timing-function: ease-in-out;	
    -webkit-animation-timing-function: ease-in-out;	
    visibility: visible !important;
}
/* Animation End */
/* Navbar Start */
body{
  width: 100%;
  margin: 0;
  padding: 0;
}
.navbar-brand{
  font-weight: 400 !important;
  letter-spacing: 2px !important;
  text-transform: uppercase !important;
}
nav.navbar.navbar-expand-lg.bg-body-tertiary {
  padding: 0px;
}
.navbar-brand {
  font-size: 32px !important;

}
.nav-link{
  /* margin-right: 20px; */
  font-size: 18px !important;
  cursor: pointer;
}
a {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.15em;
  display: inline-block;
  padding: 15px 20px;
  position: relative;
}
a:after {    
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #fff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
a:hover:after { 
  width: 100%; 
  left: 0; 
}
@media screen and (max-height: 300px) {
    ul {
        margin-top: 40px;

} 
}
/* Navbar Section End */
/* Img Section */
.self-padding{
  padding: 60px 0;
}
.hero-section{width: 100%;height: 400px;display: flex;justify-content: center;align-items: center;padding-top: 50px;background-color: #999d86;}

.hero-section > div img {
    padding-bottom: 50px;
}
.year{
  letter-spacing: 5px !important;
  text-transform: uppercase;
}
.year_1{
  width: 10%;
  margin: 0 auto;
}
.name{
  margin-top: 10px;
  font-size: 20px !important;
}
/* Img Section End */
/* About Section */
.about{
  letter-spacing: 2px;
  font-weight: 700;
  color: #999d86;
  /* margin-left: 100px; */
}
.boo {
	border: none;
	background: #999d86;
	color: #f2f2f2;
	padding: 10px 35px;
	font-size: 18px;
	border-radius: 5px;
	position: relative;
	box-sizing: border-box;
	transition: all 500ms ease; 
  overflow:hidden
}

.boo:before {
	font-family: FontAwesome;
	content:"\f217";
	position: absolute;
	top: 11px;
	left: -30px;
	transition: all 200ms ease;
}

.boo:hover:before {
	left: 7px;
}

.boo:hover {
  box-shadow: 1px 3px 8px #000;
}
.card{
  margin: 30px;
}
/* About Section End */
/* Customer Section */
.Review{
  text-transform: uppercase;
}
.Customer{
  color: #999d86;
}
.fadein {
  opacity: 0;
  transition: all 1.5s;
  transform: translate(0, 100px);
}

.fadein.visible {
  opacity: 1;
  transform: translate(0, 0);
}
.review-card {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 15px;
  margin: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
  width: 300px;
}

.customer-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.customer-name {
  font-size: 18px;
  font-weight: bold;
  color: #333;
}

.rating {
  font-size: 16px;
  color: #ffcc00; /* Gold color for stars */
}

.review-text {
  margin-top: 10px;
  font-size: 14px;
  color: #555;
  line-height: 1.5;
}
/* Customer Section End */
/* Footer Starrt */
ul {
  margin: 0px;
  padding: 0px;
}
.footer-section {
background: #999d86;
position: relative;
}
.footer-cta {
border-bottom: 1px solid #373636;
}
.single-cta i {
color: #fff;
font-size: 30px;
float: left;
margin-top: 8px;
}
.cta-text {
padding-left: 15px;
display: inline-block;
}
.cta-text h4 {
color: #fff;
font-size: 20px;
font-weight: 600;
margin-bottom: 2px;
}
.cta-text span {
color: #757575;
font-size: 15px;
}
.footer-content {
position: relative;
z-index: 2;
}
.footer-pattern img {
position: absolute;
top: 0;
left: 0;
height: 330px;
background-size: cover;
background-position: 100% 100%;
}
.footer-logo {
margin-bottom: 30px;
}
.footer-logo img {
  max-width: 200px;
}
.footer-text p {
margin-bottom: 14px;
font-size: 14px;
    color: #7e7e7e;
line-height: 28px;
}
.footer-social-icon span {
color: #fff;
display: block;
font-size: 20px;
font-weight: 700;
font-family: 'Poppins', sans-serif;
margin-bottom: 20px;
}
.footer-social-icon a {
color: #fff;
font-size: 16px;
margin-right: 15px;
}
.footer-social-icon i {
height: 40px;
width: 40px;
text-align: center;
line-height: 38px;
border-radius: 50%;
}
.facebook-bg{
background: #3B5998;
}
.twitter-bg{
background: #55ACEE;
}
.google-bg{
background: #DD4B39;
}
.footer-widget-heading h3 {
color: #fff;
font-size: 20px;
font-weight: 600;
margin-bottom: 40px;
position: relative;
}
.footer-widget-heading h3::before {
content: "";
position: absolute;
left: 0;
bottom: -15px;
height: 2px;
width: 50px;
background: #fff;
}
.footer-widget ul li {
display: inline-block;
float : left;
width: 50%;
margin-bottom: 12px;
}
.footer-widget ul li a:hover{
color: #000;
}
.footer-widget ul li a {
color: #fff;
text-transform: capitalize;
}
.subscribe-form {
position: relative;
overflow: hidden;
}
.subscribe-form input {
width: 100%;
padding: 14px 28px;
background: #fff;
border: 1px solid #2E2E2E;
color: #fff;
}
.subscribe-form button {
  position: absolute;
  right: 0;
  background: black;
  padding: 13px 20px;
  border: 1px solid black;
  top: 0;
}
.subscribe-form button i {
color: #fff;
font-size: 22px;
transform: rotate(-6deg);
}
.copyright-area{
background: #202020;
padding: 25px 0;
}
.copyright-text p {
margin: 0;
font-size: 14px;
color: #878787;
}
.copyright-text p a{
color: #fff;
}
.footer-menu li {
display: inline-block;
margin-left: 20px;
}
.footer-menu li:hover a{
color: #fff;
}
.footer-menu li a {
font-size: 14px;
color: #878787;
}